body{
    margin: 0%;
}
aside{
    position: absolute;
    width: 16.3%;
    height: 100%;
    
}
.color{
    position: absolute;
    height: 12%;
    width: 35%;
} 
#boton1{
    position: absolute;
    left: 5%;
    top: 10%;
    color:blanchedalmond;
    background-color: black;
  }
  #boton1:hover{
    color: black;
    background-image: url("./Statics/Img/espacio.png");
  }
  #boton2{
    position: absolute;
    left: 55%;
    top: 10%;
    
    background-image: url("./Statics/Img/xd.jpg");
    background-color: blue;
  }
  #boton2:hover{
    color: black;
    background-image: url("./Statics/Img/espacio.png");
    
  }
  #boton3{
    position: absolute;
    left: 5%;
    top: 25%;
    
    background-image: url("./Statics/Img/xd.jpg");
  }
  #boton3:hover{
    color: black;
    background-image: url("./Statics/Img/espacio.png");
  }
  #boton4{
    position: absolute;
    left: 55%;
    top: 25%;
    
    background-image: url("./Statics/Img/xd.jpg");
  }
  #boton4:hover{
    color: black;
    background-image: url("./Statics/Img/espacio.png");
  }
.accion{
    position: absolute;
    height: 12%;
    width: 100%;
}
#boton5{
    position: absolute;
    left: 0%;
    top:55%;
    
    background-color: black;
  }
  #boton5:hover{
    color: black;
    background-image: url("./Statics/Img/espacio.png");
  }

  #boton6{
    position: absolute;
    left: 0%;
    top:70%;
    
    background-color: black;
  }
  #boton6:hover{
    color: black;
    background-image: url("./Statics/Img/espacio.png");
  }

  #boton7{
    position: absolute;
    left: 0%;
    top:85%;
    
    background-color: black;
  }
  #boton7:hover{
    color: black;
    background-image: url("./Statics/Img/espacio.png");
  }
 .texto{
    color: black;
    font-family: sans-serif;
  }

  #cambiar{
    position: absolute;
    left: 25%;
    top: 4%;
  }

  #accion{
    position: absolute;
    left: 40%;
    top: 50%;
  }

.ojo{
    position: absolute;
    top: 40%;
    width: 25%;
    height: 19%;
    background-color: black;
}

#cabeza{
    position: absolute;
    top:20%;
    left: 40%;
    height: 20%;
    width: 14%;
    border-radius: 50%;
    background-color: #9AD9AA;
}
#der{
    position: absolute;
    left: 60%;
    border-radius: 50% 50% 50% 0em;
}
#izq{
    position: absolute;
    left: 13.3%;
    border-radius: 50% 50% 0em 50%;
}
#nariz{
    position: absolute;
    top: 57%;
    left: 45%;
    width: 10%;
    height: 17%;
    border: none;
    border-top: solid;
    border-radius: 50%;
}
#sonrisa{
    position: absolute;
    top: 60%;
    left: 40%;
    border: none;
    border-bottom: solid;
    border-radius: 50%;
    width: 20%;
    height: 13%;
}
